@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.feedback-btn {
  height: 47px;
  width: 170px;
  padding: 10px 16px;
  border-radius: 12px;
  border: 1px;
  background-color: var(--css-black);
  color: var(--css-primary);
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 18px;
}

.feedback-btn:hover {
  background-color: var(--css-white);
  cursor: pointer;
}
