.carousel-section {
  position: relative;
}

.arrow {
  position: absolute;
  z-index: 20;
  cursor: pointer;
  color: black;
  width: 32px;
  height: 32px;
}

.arrow img {
  width: 100%;
  height: 100%;
}

.right-arrow {
  left: -16px;
  top: 40%;
}

.left-arrow {
  right: -16px;
  top: 40%;
}
